<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <% include common/required.html %>

    <script type='text/javascript' src='/javascripts/menu.model.js'></script>
    <script type='text/javascript' src='/javascripts/menu.view.js'></script>
    <script type='text/javascript' src='/javascripts/searcher.model.js'></script>
    <script type='text/javascript' src='/javascripts/searcher.view.js'></script>
    <script type='text/javascript' src='/javascripts/sidemenu.model.js'></script>
    <script type='text/javascript' src='/javascripts/sidemenu.view.js'></script>

    <script type="text/javascript" src="/javascripts/user/user.js"></script>
    <script type="text/javascript" src="/javascripts/user/userlist.view.js"></script>
    <script type="text/javascript" src="/javascripts/user/user.model.js"></script>
    <link rel="stylesheet" href="/stylesheets/userlist.css">
  </head>
  <body>
    <% include common/navbar.html %>

    <div class="container" style="width: 1000px;">
      <div class="row-fluid">

        <div class="pull-left offset1" id="left">
          <% include common/sidemenu.html %>
        </div>

        <div class="pull-left">
          <div class="row-fluid">
            <div class="span6 rightPanel">

            <ul class="nav nav-tabs" style="height:37px;">
              <li class="active"><a id="all" href="#1" data-toggle="tab"><%= i('user.tab.alluser') %></a></li>
              <!--li><a id="showFollower" href="#2" data-toggle="tab"><%= i('user.tab.followers') %>(<span id="followerCount">0</span>)</a></li-->
            </ul>

            <div class="tab-content">
              <div class="input-append">
                <input id="searchInput" type="text">
                <button id="searchBtn" class="btn" type="button"><i class="icon-search icon-small"></i></button>
              </div>
              <div id="1" class="tab-pane active">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th></th>
                      <th><%= i('user.header.name') %></th>
                      <!--th width="150px"><%= i('user.header.title') %></th-->
                      <th><%= i('user.header.email') %></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody id="allUsers"></tbody>
                </table>
              </div>

              <div id="pagination" class="pagination pagination-centered">
              </div>

            </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <% include common/footer.html %>

    <script type="text/template" id="user-template">
      <tr>
        <td>
          <a href="/user/{{ id }}"><img class="img-rounded" src="{{ photo }}"></a>
        </td>
        <td><a href="/user/{{ id }}">{{ name }}</a></td>
        <!--td>{{ title }}</td-->
        <td><a href="mailto:{{mail}}">{{ mail }}</a></td>
        <td style="text-align: right">
          <a class="btn btn-small hidden" name="unfollow" uid="{{id}}" id="unfollow_{{id}}"><%= i('user.option.unfollow') %></a>
          <a class="btn btn-small btn-success hidden" name="follow" uid="{{id}}" id="follow_{{id}}"><%= i('user.option.follow') %></a>
          <!--a class="btn btn-small btn-success hidden" name="privatemsg" uid="{{id}}" id="privatemsg_{{id}}"><%= i('user.option.sentPrivateMsg') %></a-->
        </td>
      </tr>
    </script>
  </body>
</html>
