<aside id="sidemenu">

	<ul>	
	<li><a id="users" href="#" class="group"><!--分类--><%= i('message.list.sidemenu.category') %></a></li>
		<li>
			<ul>	
				<li><a id="" href="/notice/at"><i class="icon-bookmark"></i><!--提到我的--><%= i('message.list.sidemenu.replymemsg') %></a></li>
				<li><a id="" href="/notice/comment"><i class="icon-bookmark"></i><!--评论我的--><%= i('message.list.sidemenu.atmemsg') %></a></li>
				<li><a id="" href="/notice/sysmsg"><i class="icon-bookmark"></i><!--邀请/移除--><%= i('message.list.sidemenu.sysmsg') %></a></li>
			</ul>
		</li>

	
	<li><a id="" href="#"></a></li>

	<ul>
</aside>